@font-face {
    font-family: Josefin;
    src: url(font/JosefinSans-Regular.ttf);
}
body{
	background-color: tomato;
	width: 100%;
	margin:0;
	font-family : Josefin;
}
header{
	margin-bottom: 50px;
}

a{
	text-decoration: none;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 display: block;
 padding: 5px;
}

li {
	display: inline;
 	margin-left:10px;
 	padding: 5px;
}

#navSite{
	width: 100%;
	text-align: center;
	background-color: lightsalmon;
}

#campusFilter{
	width: 100%;
	text-align: center;
}

#campusFilter li{
	background-color: lightsalmon;
	border-radius: 5px;
}
#campusFilter .truc{
	background-color: yellow;
}

/* CARROUSEL */
#owl-demo .item img{
    display: block;
}

#owl-demo{
	width: 70%;
	margin: auto;
	border:solid 5px white;
	-moz-box-shadow: inset 0px 0px 20px 0px #656565;
-webkit-box-shadow: inset 0px 0px 20px 0px #656565;
-o-box-shadow: inset 0px 0px 20px 0px #656565;
box-shadow: inset 0px 0px 20px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=20);
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
	background-color: white;
}