@font-face {
    font-family: Josefin;
    src: url(font/JosefinSans-Regular.ttf);
}
body{
	margin:0;
	padding: 0;
	font-family : Josefin;
	margin-right: 20%;
	margin-left: 20%;
	background-color: #F7F7F7;
	-moz-box-shadow: 10px 10px 60px 2px #656565;
	-webkit-box-shadow: 10px 10px 60px 2px #656565;
	-o-box-shadow: 10px 10px 60px 2px #656565;
	box-shadow: 10px 10px 60px 2px #656565;
}

h1 {
	font-size : 2em;
}

header{
	margin-bottom: 20px;
}

a{
	text-decoration: none;
}

ul {
 padding:0;
 margin:0;
 list-style-type:none;
 display: block;
 padding: 5px;
}

li {
	display: inline;
 	margin-left:10px;
 	padding: 5px;
}

#logo {
	height : 60px;
}

#logoLeft {
	float : left;
	margin : 5px 0px 5px 10px;
	width : 150px;
}

#logoRight {
	float : right;
	margin : 5px 10px 5px 0px;
	width : 150px;
}

#navSite{
	width: 100%;
	text-align: center;
	background-color: #363636;
}

#navSite ul li a {
	color:chartreuse;
	font-size : 1.2em;
	font-weight : bold;
}

#navSite ul li {
	margin-right : 40px;
}

#navSite .fa {
	font-size : 1.1em;
}

main {
	padding : 0px 30px 0px 30px;
}

#campusFilter{
	width: 100%;
	text-align: center;
	margin : 10px;
}

#campusFilter li{
	background-color: #945AAF;
	border-radius: 5px;
}

#campusFilter li:hover{
	background-color: #7F3F98;
	border-radius: 5px;
}

#campusFilter li a {
	color : white;
	font-size : 1.3em;
}

#campusFilter .truc{
	background-color: indigo;
}

#downloadProg {
	cursor : pointer;
	width : 300px;
	height : 50px;
	padding : 5px 10px;
	margin: 0 auto;
	margin-bottom : 10px;
	border : 1px solid #b6b7b9;
	border-radius : 5px;
	background-color : #363636;
	font: bold 1.4em Josefin;
}

#downloadProg a{
	color : chartreuse;
}

/* CARROUSEL */
#owl-demo .item img{
    display: block;
}

#owl-demo{
	width: 50%;
	margin: 0 auto;
	border: 9px solid white;
	box-shadow: 1px 1px 12px #555;
	
	
}

/* EVENEMENTS */

.eventCard {
position: relative;
width: 25%;
display: inline-table;
margin: 3%;
padding: 10px;
-moz-box-shadow: 0px 0px 2px -1px #656565;
-webkit-box-shadow: 0px 0px 2px -1px #656565;
-o-box-shadow: 0px 0px 2px -1px #656565;
box-shadow: 0px 0px 2px -1px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=3);
}

.eventCard img {
	width: 100%;
}

.eventCard input[name="submit"] {
	background-color: #363636;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	border: 0;
	color: chartreuse;
	font: bold 1.4em Josefin;
}

.eventCard input[name="submit"]:hover {
	cursor: pointer; 
}

#event1 {
	width: 90%;
}
#event1 img {
	width: 45%;
}

#event1 h2, #event1 .date {
	margin: 0;
	width: 45%;
	text-align: center;
}

#event1 .description {
	position: absolute;
	width: 45%;
	float: right;
	top: 0;
	right: 0
}

#event1 input {
	position: absolute;
	width: 45%;
	margin: 0 auto ;
	right: 0;
	bottom: 0;
	margin-right: 3%;
	margin-bottom: 10%;
	text-align: center;
}

#eventContainer form input[type="text"] {
	display: none;
}

/* PRESENTATION */

#presentationContainer, #atelierContainer, #infoContainer, #inscriptionContainer, #eventContainer{
margin:  0 auto;
font-size: 1.3em;
}

#presentationListe li{
	display : block;
}

#atelierImg {
	width:100%;
}

/* FORM : INSCRIPTION */

#inscriptionForm {
	width:600px; 
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

#inscriptionForm label {
	display: block;
	float : left;
	width : 175px;
	margin-top: 20px;
	font-size : 1.3em;
	text-align : left;
}

#inscriptionForm input{
	font-size : 1.2em;
	width : 300px;
	height : 35px;
	padding : 5px 10px 0px 10px;
	margin : 0 0 50px 0;
	border : 1px solid #b6b7b9;
	border-radius : 5px;
}

#inscriptionForm input[type=submit] {
	display: block;
	cursor : pointer;
	width : 160px;
	height : 42px;
	padding : 5px 10px;
	margin: 0 auto;
	margin-top: 70px; 
	border : 1px solid #b6b7b9;
	border-radius : 5px;
	background-color : #363636;
	color : chartreuse;
	font: bold 1.4em Josefin;
}

/* FORM : RESTER INFORME */

#infoForm {
	width:600px; 
	margin-left:auto;
	margin-right:auto;
	height:auto;
}

.box {
	display : inline-block;
	margin: auto;
	padding: 0;

}

#infoForm label {
	display: block;
	float : left;
	width : 190px;
	margin-top: 20px;
	font-size : 1.3em;
	text-align : left;
}

#infoForm input[type="text"], #infoForm input[type="mail"]{
	font-size : 1.2em;
	width : 300px;
	height : 35px;
	padding : 5px 10px 0px 10px;
	margin : 0 0 50px 0;
	border : 1px solid #b6b7b9;
	border-radius : 5px;
}



#infoForm input[type=submit] {
	display: block;
	cursor : pointer;
	width : 160px;
	height : 42px;
	padding : 5px 10px;
	margin: 0 auto;
	margin-top: 70px; 
	border : 1px solid #b6b7b9;
	border-radius : 5px;
	background-color : #363636;
	color : chartreuse;
	font: bold 1.4em Josefin;
}

#infoForm .fa {
	color : white;
}

#infoForm .fa-comment-o {
	border-radius : 100%;
	background-color:#67bf70;
}

#infoForm .fa-child {
	border-radius : 100%;
	background-color:#374a5c;
}

#infoForm .fa-eye {
	border-radius : 100%;
	background-color:#4b99d3;
}

#infoForm .fa-music {
	border-radius : 100%;
	background-color:#ecc130;
}

#infoForm .fa-users {
	border-radius : 100%;
	background-color:#9168ac;
}

/* ATELIERS */

#seeWorkshops{
	cursor : pointer;
	height : 50px;
	padding : 5px 10px;
	margin: 0 auto;
	margin-bottom : 10px;
	border : 1px solid #b6b7b9;
	border-radius : 5px;
	background-color : #363636;
	font: bold 1.4em Josefin;
	display: block;
}

#seeWorkshops a {
	color : chartreuse;
}

.atelierCard {

width: 40%;
display: inline-table;
margin: 3%;
padding: 10px;
border-radius: 10px;
background-color: white;
-moz-box-shadow: 10px 10px 60px 2px #656565;
-webkit-box-shadow: 10px 10px 60px 2px #656565;
-o-box-shadow: 10px 10px 60px 2px #656565;
box-shadow: 10px 10px 60px 2px #656565;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=60);
}

.atelierCard h2 {
text-align: center;
}

/* FOOTER */
footer {
	position: relative;
	background-color: #363636;
	height: 120px;
	-moz-box-shadow: inset 0px -5px 0px 0px #222;
	-webkit-box-shadow: inset 0px -5px 0px 0px #222;
	-o-box-shadow: inset 0px -5px 0px 0px #222;
	box-shadow: inset 0px -5px 0px 0px #222;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#222, Direction=90, Strength=2);
	text-align: left;
}

footer ul {
	position: relative;
	display: inline-table;
	height: 50px;
	margin-left: 10%
}

.rsn {
	font-size: 1.2em;
}

.dl {
	font-size: 0.8em;
}

footer li {
	display: block;
}
footer li a {
	color: chartreuse;
}

footer img {
	position: absolute;
	height: 75%;
	margin-right: 0.5%;
	margin-top: 0.5%;
	right: 0;
	top : 0;
}



