<!doctype html>
<html lang='fr' ng-app="serviceCulturel">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/stylesheet.css"/>
		<link rel="stylesheet" href="css/owl.carousel.css">
		<link rel="stylesheet" href="css/owl.theme.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<title>Service Culturel Paris 13</title>
	</head>
	<body>
		<header>
			<!-- MENU PRINCIPAL -->
			<nav id="navSite">
				<ul>
					<li>Accueil</li>
					<li>Inscription</li>
					<li>Rester Informé</li>
					<li>Ateliers</li>
				</ul>
			</nav>

		</header>

		<main ng-controller="CampusFilterController as campusFilterCtrl">

			<!-- MENU FILTRES CAMPUS -->
			<nav id="campusFilter">
				<ul>
					<li ng-class="{ 'truc': campusFilterCtrl.chkFilter('vil') }"><a ng-click="campusFilterCtrl.toggleFilter('vil')" href="#">Villetaneuse</a></li>
					<li ng-class="{ 'truc': campusFilterCtrl.chkFilter('bob') }"><a ng-click="campusFilterCtrl.toggleFilter('bob')" href="#">Bobigny</a></li>
					<li ng-class="{ 'truc': campusFilterCtrl.chkFilter('hlm') }"><a ng-click="campusFilterCtrl.toggleFilter('hlm')" href="#">Hors les murs</a></li>
				</ul>
			</nav>

			<!-- CAROUSEL -->
			<section id="owl-demo" class="owl-carousel owl-theme">
				<div class="item"><img src="img/fullimage1.jpg" alt="The Last of us"></div>
				<div class="item"><img src="img/fullimage2.jpg" alt="GTA V"></div>
				<div class="item"><img src="img/fullimage3.jpg" alt="Mirror Edge"></div>
			</section>

			<!-- EVENEMENTS -->
			<section id="eventContainer" >
				<script>
					function CampusFilterController($scope,$http) {
    				$http.get("http://www.w3schools.com/website/Customers_JSON.php").success(function(response){$scope.events = response;});}
</script>
				<div ng-show="campusFilterCtrl.chkFilter('vil')" ng-repeat="event in campusFilterCtrl.events" >{{event.Name}}</div> <!-- EVENEMENTS VILLETANEUSE -->
				<div ng-show="campusFilterCtrl.chkFilter('bob')" ng-repeat="event in campusFilterCtrl.events | where:{campus:'bob'}">{{event.name}}</div> <!-- EVENEMENTS BOBIGNY -->
				<div ng-show="campusFilterCtrl.chkFilter('hlm')" ng-repeat="event in campusFilterCtrl.events | where:{campus:'hlm'}">{{event.name}}</div> <!-- EVENEMENTS HLM -->
				<div ng-if="!campusFilterCtrl.activeFilter.length">CHOISISSEZ UESH</div>
				
			</section>
		</main>
		<footer ng-controller='TestController'>
				<div ng-repeat="event in TestController.events" >{{event.Name}}</div> <!-- EVENEMENTS VILLETANEUSE -->
		</footer>
	</body>
</html>